<!-- start new of contact -->
<div class="modal-header">
    <h3><span ng-show="master.sid">Edit</span><span ng-show="!master.sid">New</span> Education</h3>
</div>

<form  class="form-horizontal form-validation" name="forms.education" ng-submit="submit(master)" novalidate>
    <div class="modal-body panel-body">

        <div class="form-group">
            <label for="" class="col-sm-3">Degree<span class="star">*</span></label>
            <div class="col-sm-9">
                <select class="form-control input-sm" ng-model="master.DegreeType" required>
                    <option ng-show="degreeType" data-ng-repeat="degreeType in master.DegreeTypeData" value="{{$index}}" data-ng-selected="master.DegreeType == $index">{{degreeType}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3">Major<span class="star">*</span></label>
            <div class="col-sm-9">
                <select class="form-control input-sm" ng-model="master.MajorType" required>
                    <option ng-show="majorType" data-ng-repeat="majorType in master.MajorTypeData" value="{{$index}}" data-ng-selected="master.MajorType == $index">{{majorType}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3">Institute<span class="star">*</span></label>
            <div class="col-sm-9">
                <input type="text" ng-model="master.graduationinstitute" class="form-control input-sm" required>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-3">Graduation Date<span class="star">*</span></label>
            <div class="col-sm-9">
                <input type="text" 
                       class="form-control ui-datepicker input-sm"
                       placeholder=""
                       datepicker-popup="MM/dd/yyyy"
                       ng-model="master.graduationdate"
                       close-text="Close" required>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-3">Graduation Country<span class="star">*</span></label>
            <div class="col-sm-9">
                <input type="text" ng-model="master.graduationcountry" class="form-control input-sm" required>
            </div>
        </div>
    </div>
    <div class="modal-footer my-modal-footer">
        <button class="btn btn-primary" type="submit" data-ng-disabled="!forms.education.$valid">Save</button>
        <input type="hidden" ng-model="master.sid" class="form-control input-sm">
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
<!-- end new of contact -->