<!-- start new of contact -->
<form  class="form-horizontal form-validation" name="forms.skills" ng-submit="submit(master)" novalidate>
    <div class="modal-header">
        <h3><span ng-show="master.sid">Edit</span><span ng-show="!master.sid">New</span> Skills <input style="margin-left: 30px;" type="checkbox" id="isprimary" data-ng-model="master.isprimary" data-ng-false-value="false" data-ng-true-value="true"> <label for="isprimary" style="font-weight: 100; font-size: 12px;">Primary</label></h3>
    </div>

    <div class="modal-body panel-body">

        <div class="form-group">
            <label for="" class="col-sm-3">Title<span class="star">*</span></label>
            <div class="col-sm-9">
                <input type="text" ng-model="master.name" class="form-control input-sm" required>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-3">Description</label>
            <div class="col-sm-9">
                <textarea class="form-control" data-ng-model="master.description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-3">Keywords<span class="star">*</span></label>
            <div class="col-sm-9">
                <input type="text" ng-model="master.keywords" class="form-control input-sm" required>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-3">Job Type<span class="star">*</span></label>
            <div class="col-sm-9">
                <select class="form-control input-sm" ng-model="master.JobType" required>
                    <option ng-show="JobType" data-ng-repeat="JobType in master.JobTypeData" value="{{$index}}" data-ng-selected="master.JobType == $index">{{JobType}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-3">Employment Type<span class="star">*</span></label>
            <div class="col-sm-9">
                <select class="form-control input-sm" ng-model="master.EmploymentType" required>
                    <option ng-show="EmploymentType" data-ng-repeat="EmploymentType in master.EmploymentTypeData" value="{{$index}}" data-ng-selected="master.EmploymentType == $index">{{EmploymentType}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-3">Location Zip</label>
            <div class="col-sm-9">
                <input type="text" ng-model="master.locationzip" placeholder="No Preference" class="form-control input-sm">
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3">Resume Link<span class="star">*</span></label>
            <div class="col-sm-9">
                <input type="file" title="Choose Your Resume" nv-file-select uploader="uploader" filters="imageFilter" data-ui-file-upload class="btn-primary btn-sm" >{{uploader.queue[uploader.queue.length - 1].file.name}} <a ng-show="master.resumelink" href="{{master.resumelink}}" target="_blank">View Resume</a>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3">Salary Desired<span class="star">*</span></label>
            <div class="col-sm-9">
                <label class="ui-radio" style="float: left; margin-top: 6px;"><input class="form-control input-sm" name="select_salarytype" data-ng-model="master.salarytype" type="radio" value="hourlyRate" ng-checked="true"><span>Hourly Rate</span></label>
                <label class="ui-radio" style="float: left; margin-top: 6px;"><input class="form-control input-sm" name="select_salarytype" data-ng-model="master.salarytype" type="radio" value="annualSalary"><span>Annual Salary</span></label>
                <input style="width:90px; float: left; margin-top: 2px;" type="text" class="form-control input-sm" placeholder="" data-ng-model="master.salary_desired" required>
            </div>
        </div>

    </div>
    <div class="modal-footer my-modal-footer">
        <button class="btn btn-primary" type="submit" data-ng-disabled="!forms.skills.$valid">Save</button>
        <input type="hidden" ng-model="master.sid" class="form-control input-sm">
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
<!-- end new of contact -->