<div class="page">
    <div class="col-md-8">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>&nbsp;<span data-i18n="Company Profile"></span></strong></div>
            <div class="panel-body">
                <div class="media">					
                    <div class="media-body">
                        <ul class="list-unstyled list-info">
                            <img alt="logo" data-ng-src="{{tenant.logolink}}" style="width:440px; height: 110px;">
                        </ul>
                        <ul class="list-unstyled list-info">
                            <li>
                                <label>Name</label>
                                {{tenant.name}}
                            </li>
                            <li>
                                <label>Description</label>
                                {{tenant.description}}
                            </li>
                            <li>
                                <label>Start Date</label>
                                {{tenant.startdate| date:'MM/dd/yyyy'}}
                            </li>
                            <li>
                                <label>End Date</label>
                                {{tenant.enddate| date:'MM/dd/yyyy'}}
                            </li>
                            <li>
                                <label>Max Number of Users</label>
                                {{tenant.maxusers}}
                            </li>
                            <li>
                                <label>Active Users</label>
                                {{tenant.activeusers}}
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="pull-right">
                    <a class="a_cursor" tooltip="Edit profile" data-ng-click="edit()"><span class="glyphicon glyphicon-edit"></span></a>
                </div>	
                </form>	
            </div>
        </section>
    </div>
</div>
