<!-- start new of contact -->
<form  class="form-horizontal form-validation" name="forms.contact" ng-submit="submit(master)" novalidate>
    <div class="modal-header">
        <h3><span ng-show="master.sid">Edit</span><span ng-show="!master.sid">New</span> Contact<input style="margin-left: 30px;" type="checkbox" id="isprimary" data-ng-model="master.isprimary" data-ng-false-value="false" data-ng-true-value="true"> <label for="isprimary" style="font-weight: 100; font-size: 12px;">Primary</label></h3>
    </div>

    <div class="modal-body panel-body">

        <div class="form-group col-sm-6">

            <fieldset style="border: #ccc 1px solid; width: 100%; padding: 0px; margin: -6px 0 0 0;">
                <div class="col-sm-12 bg-dark" style="height:35px; font-size: 12px; line-height: 35px;">
                    Phone
                </div>
                <div class="form-group col-sm-12" style="margin-top: 3px;">
                    <label for="" class="col-sm-4" style="height:20px; line-height: 35px;">Cell<span class="star">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="master.phone_cell" class="form-control input-sm" required style="width:140px;">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="" class="col-sm-4">Home</label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="master.phone_home" class="form-control input-sm" style="width:140px;">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="" class="col-sm-4">Work</label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="master.phone_work" class="form-control input-sm" style="width:140px;">
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label for="" class="col-sm-4">Emergency</label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="master.phone_emergency" class="form-control input-sm" style="width:140px;">
                    </div>
                </div>
            </fieldset>

        </div>

        <div class="form-group col-sm-6" style="margin-left: 30px; padding: 0px;">

            <fieldset style="border: #ccc 1px solid; width: 100%; padding: 0px; margin: -6px 0 0 0;">
                <div class="col-sm-12 bg-dark" style="height:35px; font-size: 12px; line-height: 35px;">
                    Email
                </div>
                <div class="form-group col-sm-12" style="margin-top: 3px;">
                    <label for="" class="col-sm-4">Personal<span class="star">*</span></label>
                    <div class="col-sm-8">
                        <input type="email"
                               class="form-control input-sm"
                               ng-model="master.email_personal" required style="width:155px;">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="" class="col-sm-4">Work</label>
                    <div class="col-sm-8">
                        <input  type="email"
                                class="form-control input-sm"
                                ng-model="master.email_work" style="width:155px;">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="" class="col-sm-4">Emergency</label>
                    <div class="col-sm-8">
                        <input  type="email"
                                class="form-control input-sm"
                                ng-model="master.email_emergency" style="width:155px;">
                    </div>
                </div>
            </fieldset>

        </div>
        <div class="col-sm-12 bg-dark" style="height:35px;">

        </div>
        <div class="form-group col-sm-12" style="margin-top: 8px;">
            <label for="" class="col-sm-2">Address</label>
            <div class="col-sm-10">
                <input type="text" ng-model="master.address" class="form-control input-sm">
            </div>
        </div>

        <div class="form-group col-sm-6" style="clear: right;">
            <label for="" class="col-sm-4">City</label>
            <div class="col-sm-8">
                <input type="text" ng-model="master.city" class="form-control input-sm">
            </div>
        </div>

        <div class="form-group col-sm-6" style="clear: right;">
            <label for="" class="col-sm-4">State</label>
            <div class="col-sm-8">
                <input type="text" ng-model="master.state" class="form-control input-sm">
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label for="" class="col-sm-4">Zip Code</label>
            <div class="col-sm-8">
                <input type="text" ng-model="master.zipcode" class="form-control input-sm">
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label for="" class="col-sm-4">Country</label>
            <div class="col-sm-8">
                <input type="text" ng-model="master.country" class="form-control input-sm">
            </div>
        </div>

    </div>
    <div class="modal-footer my-modal-footer">
        <button class="btn btn-primary" type="submit" data-ng-disabled="!forms.contact.$valid">Save</button>
        <input type="hidden" ng-model="master.sid" class="form-control input-sm">
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
<!-- end new of contact -->